@charset "UTF-8";
/* CSS Document */

.blackboxmonaco {
  background-color: black;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  font-family: "Monaco", monospace;	
}

.whiteboxmonaco {
  background-color: white;
  color: black;
  border: 2px solid white;
  margin: 20px;
  padding: 20px;
  font-family: "Monaco", monospace;	
}

.claretmonaco {
  background-color: #7A263A;
  color: white;
  border: 2px solid #7A263A;
  margin: 20px;
  padding: 20px;
  font-family: "Monaco", monospace;	
}

.skybluemonaco {
  background-color: skyblue;
  color: black;
  border: 2px solid skyblue;
  margin: 20px;
  padding: 20px;
  font-family: "Monaco", monospace;	
}
