.whitelink:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  .whitelink:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  .whitelink:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  .whitelink:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  .blacklink:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  .blacklink:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  .blacklink:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  .blacklink:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  .skybluelink:link {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
  }
  .skybluelink:visited {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
  }
  .skybluelink:hover {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
  }
  .skybluelink:active {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
  }
  .claretlink:link {
    color: #7A263A;
    background-color: transparent;
    text-decoration: none;
  }
  .claretlink:visited {
    color: #7A263A;
    background-color: transparent;
    text-decoration: none;
  }
  .claretlink:hover {
    color: #7A263A;
    background-color: transparent;
    text-decoration: none;
  }
  .claretlink:active {
    color: #7A263A;
    background-color: transparent;
    text-decoration: none;
  }
  .zhbskyblue:link {
    color: #1BB1E7;
    background-color: transparent;
    text-decoration: none;
  }
  .zhbskyblue:visited {
    color: #1BB1E7;
    background-color: transparent;
    text-decoration: none;
  }
  .zhbskyblue:hover {
    color: #1BB1E7;
    background-color: transparent;
    text-decoration: none;
  }
  .zhbskyblue:active {
    color: #1BB1E7;
    background-color: transparent;
    text-decoration: none;
  }